
    body {
        /* font-family: Comfortaa, sans-serif; */
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #333;
        background-color: #E0D4AC;
        min-height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

    h2 {
      margin-top: 10px;
    }

  #content {
    flex: 1;
    margin-top: 3%;
  }

  #content {
    width: 97%;
  }

  @media only screen and (min-width: 768px) {
    
    #content {
      width: 33%;
    }
  }

  span {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    display: none;
  }
  a:hover + span {
    display: inline;
  }

  .story {
    display: none;
  }
  :target {
    display: block;
  }

  p.sign {
    font-family: 'Courier New', Courier, monospace;
  }